html {
  font-size: 18px;
}
body {
  font-family: helvetica;
  line-height: 1.4rem;
}
div {
  display: block;
}
.container {
  max-width: 960px;
  margin: auto;
}
.flex {
  display:flex;
}
header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}
nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
nav {
  padding: 1rem 0;
  background-color: cadetblue;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div {
  display: flex;
  align-items: center;
}
nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}
.menu {
  margin: 0rem 0;
}
.menu span {
  display: inline;
  padding: 0 1rem;
}
header .flex {
  justify-content: flex-end;
}
.strapline {
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 2rem 5rem;
  display: inline-block;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.4rem;
}
.options {
  display: flex;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 3rem 3rem;
  width: 5rem;
  height: 8rem;
}
.item img {
  width: 5rem;
  margin-bottom: 1rem;
}
.item img.paper-icon{
  width: 3.5rem;
}
.information {
  display: flex;
  justify-content: center;
}
.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}
.info-type {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
  width: 10rem;
}
.info p {
  padding: 1rem 0;
}
footer {
  background-color: azure;
  padding: 4rem 0;
}
.copyright {
  display: flex;
  align-items: center;
}
footer img {
  height: 1.5rem;
  margin-left: 4rem;
  margin-right: 1rem;
}
.mobile-menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  header {
    padding-top: 0;
  }
  h1 {
    font-size: 1.33rem;
  }
  .strapline {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 560px) {
  header {
    background-position: 20%;
    height: 17rem;
  }
  h1 {
    font-size: 1rem;
    text-align: center;
  }
  .strapline {
    padding: 1rem;
    margin-top: 9rem;
    width: 100%;
    margin-right: 0;
  }
  .options {
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0;
  }
  .item {
    margin: 1.54rem 0;
  }
  .information {
    flex-direction: column;
  }
  .info {
    width: 100%;
  }
  .info-type {
    width: 100%;
    text-align: center;
  }
  .copyright span {
    display: none;
  }
  footer img {
    margin: auto;
  }
  .mobile-menu {
    display: block;
  }
  .menu {
    display: none;
  }
}
